<?xml version="1.0"?>
<config>
	<modules>
		<Sevenlike_Madai>
			<version>1.0.4</version>
		</Sevenlike_Madai>
	</modules>
	<global>
		<blocks>
			<madai>
				<class>Sevenlike_Madai_Block</class>
			</madai>
		</blocks>
		<models>
			<madai>
				<class>Sevenlike_Madai_Model</class>
			</madai>
		</models>
		<helpers>
			<madai>
				<class>Sevenlike_Madai_Helper</class>
			</madai>
		</helpers>
		<resources>
			<madai_setup>
				<setup>
					<module>Sevenlike_Madai</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</madai_setup>
		</resources>
		
	<fieldsets>
	          <sales_convert_quote_item>
                <madai_discount>
                    <to_order_item>*</to_order_item>
                </madai_discount>
                <madai_order_id>
                    <to_order_item>*</to_order_item>
                </madai_order_id>
        	</sales_convert_quote_item>
        
          <sales_convert_order_item>
                <madai_discount>
                    <to_quote_item>*</to_quote_item>
                </madai_discount>
                  <madai_order_id>
                    <to_quote_item>*</to_quote_item>
                </madai_order_id>
                
            </sales_convert_order_item>     
	</fieldsets>

	</global>
	<frontend>
		<events>
			<checkout_cart_product_add_after>
				<observers>
					<madai_priceupdate_observer>
						<type>singleton</type>
						<class>madai/observer</class>
						<method>applyDiscount</method>
					</madai_priceupdate_observer>
				</observers>
			</checkout_cart_product_add_after>
			<checkout_cart_update_items_after>
				<observers>
					<madai_priceupdate_observer>
						<type>singleton</type>
						<class>madai/observer</class>
						<method>applyDiscounts</method>
					</madai_priceupdate_observer>
				</observers>
			</checkout_cart_update_items_after>
      <!--  <sales_convert_quote_item_to_order_item>
            <observers>
                <quoteitem_set_custom_data>
                    <class>madai/observer</class>
                    <method>setCustomDataOnQuoteItem</method>
                </quoteitem_set_custom_data>
            </observers>
        </sales_convert_quote_item_to_order_item> --> 
            <checkout_onepage_controller_success_action>
                <observers>
                    <madai_order_success>
                        <class>madai/observer</class>
                        <method>sendOrderConfirmation</method>
                    </madai_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <madai_order_success>
                        <class>madai/observer</class>
                        <method>sendOrderConfirmation</method>
                    </madai_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
           
		</events>
		
		<layout>
			<updates>
				<madai>
					<file>madai.xml</file>
				</madai>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sevenlike_Madai>
					<files>
						<default>Sevenlike_Madai.csv</default>
					</files>
				</Sevenlike_Madai>
			</modules>
		</translate>
		<routers>
			<madai>
				<use>standard</use>
				<args>
					<module>Sevenlike_Madai</module>
					<frontName>madai</frontName>
				</args>
			</madai>
		</routers>
	</frontend>
	
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <madai>
                                            <title>Madai section</title>
                                        </madai>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<translate>
            <modules>
                <Sevenlike_Madai>
                    <files>
                        <default>Sevenlike_Madai.csv</default>
                    </files>
                </Sevenlike_Madai>
            </modules>
        </translate> 
    </adminhtml>    
</config>